.pagination-container nav{
    display: inline-block;
}
.logo_iguan{
    width: 100px;
}
button.like{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    color: rgba(0,150,136 ,1);
    background-color:rgba(38,166,154 ,0.3);
    border-color: rgba(0,150,136 ,1);
    border-width: 1px;
    font-size: 10px;
}

button.dislike{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    color: rgba(255,82,82 ,1);
    background-color: rgba(255,138,128 ,0.3);
    border-color: rgba(255,82,82 ,1);
    border-width: 1px;
    font-size: 10px;
}
button.like,button.dislike:focus{
    outline: none;
}
.like_block{
    position: absolute;
    right: 20px;
    top: 10px;
}

